asgiref==3.8.1
colorama==0.4.6
Django==5.0.14
django-formtools==2.5.1
django-htmx==1.23.1
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-simple-history==3.10.1
django-two-factor-auth==1.17.0
gunicorn==23.0.0
mssql-django==1.5
packaging==25.0
phonenumbers==9.0.10
pyodbc==5.2.0
pypng==0.20220715.0
pytz==2025.2
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.14.0 
tzdata==2025.2
