{% load static %}
@font-face {
    font-family: 'D-DIN';
    src: url("{% static 'fonts/D-DINExp.otf' %}") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'D-DIN';
    src: url("{% static 'fonts/D-DIN-Bold.otf' %}") format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'D-DIN';
    src: url("{% static 'fonts/D-DIN-Italic.otf' %}") format('opentype');
    font-weight: normal;
    font-style: italic;
}
html, body, * {
    font-family: 'D-DIN', sans-serif !important;
    font-weight: normal !important;
}
