<!-- tableapp/templates/tableapp/editar_fechas_form.html -->
<form method="post" 
      hx-post="{% url 'editar_fechas_pvo' pid %}" 
      hx-target="body" 
      hx-swap="none">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Editar fechas para PID {{ pid }}</h5>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
<div class="modal-body">
  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }} 
      {{ field }}
      {% if field.errors %}
        <div class="text-danger">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  </div>
</form>
