{% extends 'tableapp/base.html' %}
{% block title %}Table 2{% endblock %}
{% block content %}
<h2>Table 2 Records</h2>

{% if perms and perms.can_write %}
    <a class="btn btn-success mb-3"
       hx-get="{% url 'table2_create' %}" 
       hx-target="#modal-content"
       hx-swap="innerHTML">
       Create New
    </a>
{% endif %}

<div class="scroll-wrapper">
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Col1</th>
            <th>Col2</th>
            <th>Col3</th>
            <th>Col4</th>
            {% if perms.can_delete or perms.can_edit %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.col1 }}</td>
            <td>{{ item.col2 }}</td>
            <td>{{ item.col3 }}</td>
            <td>{{ item.col4 }}</td>
            {% if perms.can_delete or perms.can_edit %}
            <td>
                {% if perms.can_edit %}
                    <a href="{% url 'table2_edit' item.pk %}" class="btn btn-sm btn-warning" 
                        hx-get="{% url 'table2_edit' item.pk %}" 
                        hx-target="#modal-content" 
                        hx-swap="innerHTML">
                        Editar
                    </a>
                {% endif %}
                {% if perms.can_delete %}
                    <a href="{% url 'table2_delete' item.pk %}" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
